*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/build/
/desktop/build/
.kotlin
/web/build/classes/kotlin/wasmJs/main/default/ir/bodies.knb
/web/build/classes/kotlin/wasmJs/main/default/ir/debugInfo.knd
/web/build/classes/kotlin/wasmJs/main/default/ir/files.knf
/web/build/classes/kotlin/wasmJs/main/default/ir/irDeclarations.knd
/web/build/classes/kotlin/wasmJs/main/default/ir/signatures.knt
/web/build/classes/kotlin/wasmJs/main/default/ir/strings.knt
/web/build/classes/kotlin/wasmJs/main/default/ir/types.knt
/web/build/classes/kotlin/wasmJs/main/default/linkdata/package_com.dnd.helper/0_helper.knm
/web/build/classes/kotlin/wasmJs/main/default/linkdata/module
/web/build/classes/kotlin/wasmJs/main/default/manifest
/web/build/compileSync/wasmJs/main/developmentExecutable/kotlin/web.mjs
/web/build/compileSync/wasmJs/main/developmentExecutable/kotlin/web.uninstantiated.mjs
/web/build/compileSync/wasmJs/main/developmentExecutable/kotlin/web.wasm
/web/build/compileSync/wasmJs/main/developmentExecutable/kotlin/web.wasm.map
/web/build/compileSync/wasmJs/main/productionExecutable/kotlin/web.mjs
/web/build/compileSync/wasmJs/main/productionExecutable/kotlin/web.uninstantiated.mjs
/web/build/compileSync/wasmJs/main/productionExecutable/kotlin/web.wasm
/web/build/compileSync/wasmJs/main/productionExecutable/kotlin/web.wasm.map
/web/build/compileSync/wasmJs/main/productionExecutable/optimized/web.mjs
/web/build/compileSync/wasmJs/main/productionExecutable/optimized/web.uninstantiated.mjs
/web/build/compileSync/wasmJs/main/productionExecutable/optimized/web.wasm
/web/build/compileSync/wasmJs/main/productionExecutable/optimized/web.wasm.map
/web/build/compose/skiko-for-web-runtime/META-INF/MANIFEST.MF
/web/build/compose/skiko-for-web-runtime/skiko.js
/web/build/compose/skiko-for-web-runtime/skiko.mjs
/web/build/compose/skiko-for-web-runtime/skiko.wasm
/web/build/compose/skiko-runtime-processed-wasmjs/META-INF/MANIFEST.MF
/web/build/compose/skiko-runtime-processed-wasmjs/skiko.js
/web/build/compose/skiko-runtime-processed-wasmjs/skiko.mjs
/web/build/compose/skiko-runtime-processed-wasmjs/skiko.wasm
/web/build/dist/wasmJs/productionExecutable/dcd429c078b01941ba3c.wasm
/web/build/dist/wasmJs/productionExecutable/dd568dbcd078c0adf7cf.wasm
/web/build/dist/wasmJs/productionExecutable/index.html
/web/build/dist/wasmJs/productionExecutable/web.js
/web/build/dist/wasmJs/productionExecutable/web.js.LICENSE.txt
/web/build/dist/wasmJs/productionExecutable/web.js.map
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/header.meta
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab.keystream
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab.keystream.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab.values.at
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab_i
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/ir-translation-result.tab_i.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab.keystream
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab.keystream.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab.values.at
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab_i
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/source-to-classes.tab_i.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab.keystream
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab.keystream.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab.values.at
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab_i
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/js/translation-result.tab_i.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/counters.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab.keystream
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab.keystream.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab.values.at
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab_i
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/file-to-id.tab_i.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/id-to-file.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/id-to-file.tab.keystream
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/id-to-file.tab.keystream.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/id-to-file.tab.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/id-to-file.tab.values.at
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/id-to-file.tab_i.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab.keystream
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab.keystream.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab.values.at
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab_i
/web/build/kotlin/compileKotlinWasmJs/cacheable/caches-js/lookups/lookups.tab_i.len
/web/build/kotlin/compileKotlinWasmJs/cacheable/last-build.bin
/web/build/kotlin/compileKotlinWasmJs/local-state/build-history.bin
/web/build/kotlin-webpack/wasmJs/productionExecutable/dcd429c078b01941ba3c.wasm
/web/build/kotlin-webpack/wasmJs/productionExecutable/dd568dbcd078c0adf7cf.wasm
/web/build/kotlin-webpack/wasmJs/productionExecutable/web.js
/web/build/kotlin-webpack/wasmJs/productionExecutable/web.js.LICENSE.txt
/web/build/kotlin-webpack/wasmJs/productionExecutable/web.js.map
/web/build/kotlinProjectStructureMetadata/kotlin-project-structure-metadata.json
/web/build/libs/web-metadata.jar
/web/build/libs/web-wasm-js.klib
/web/build/processedResources/wasmJs/main/index.html
/web/build/tmp/allMetadataJar/MANIFEST.MF
/web/build/tmp/wasmJsJar/MANIFEST.MF
/web/build/tmp/wasmJsPublicPackageJson/package.json
/web/build/tmp/wasmJsTestPublicPackageJson/package.json
